.artist {
	width: 100px;
	height: 100px;
}

.song {
	width: 93%;
	height: 50px;
	margin-bottom: 10px;
}


@media only screen and (max-width: 1000px){
	.pic {
	  width: 100%;
	}
	.tracks {
		height: 400px;
	}
}